/*******************************
             Fonts
*******************************/


@font-face {
    font-family: 'urwfranklingothicw02light';
    src: url('themes/default/assets/fonts/urwfranklingothicw02-light-webfont.eot');
    src: url('themes/default/assets/fonts/urwfranklingothicw02-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-light-webfont.woff2') format('woff2'),
         url('themes/default/assets/fonts/urwfranklingothicw02-light-webfont.woff') format('woff'),
         url('themes/default/assets/fonts/urwfranklingothicw02-light-webfont.ttf') format('truetype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-light-webfont.svg#urwfranklingothicw02light') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'urwfranklingothicw02bold';
    src: url('themes/default/assets/fonts/urwfranklingothicw02-demi-webfont.eot');
    src: url('themes/default/assets/fonts/urwfranklingothicw02-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-demi-webfont.woff2') format('woff2'),
         url('themes/default/assets/fonts/urwfranklingothicw02-demi-webfont.woff') format('woff'),
         url('themes/default/assets/fonts/urwfranklingothicw02-demi-webfont.ttf') format('truetype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-demi-webfont.svg#urwfranklingothicw02bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'urwfranklingothicw02regular';
    src: url('themes/default/assets/fonts/urwfranklingothicw02-book-webfont.eot');
    src: url('themes/default/assets/fonts/urwfranklingothicw02-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-book-webfont.woff2') format('woff2'),
         url('themes/default/assets/fonts/urwfranklingothicw02-book-webfont.woff') format('woff'),
         url('themes/default/assets/fonts/urwfranklingothicw02-book-webfont.ttf') format('truetype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-book-webfont.svg#urwfranklingothicw02regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'urwfranklingothicw02medium';
    src: url('themes/default/assets/fonts/urwfranklingothicw02-medium-webfont.eot');
    src: url('themes/default/assets/fonts/urwfranklingothicw02-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-medium-webfont.woff2') format('woff2'),
         url('themes/default/assets/fonts/urwfranklingothicw02-medium-webfont.woff') format('woff'),
         url('themes/default/assets/fonts/urwfranklingothicw02-medium-webfont.ttf') format('truetype'),
         url('themes/default/assets/fonts/urwfranklingothicw02-medium-webfont.svg#urwfranklingothicw02medium') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*******************************
        Custom icon font
*******************************/

@font-face {
	font-family: 'icomoon';
	src:url('themes/default/assets/fonts/icomoon.eot?dayh7z');
	src:url('themes/default/assets/fonts/icomoon.eot?dayh7z#iefix') format('embedded-opentype'),
		url('themes/default/assets/fonts/icomoon.ttf?dayh7z') format('truetype'),
		url('themes/default/assets/fonts/icomoon.woff?dayh7z') format('woff'),
		url('themes/default/assets/fonts/icomoon.svg?dayh7z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.icon.icon-adjustement:before {
	content: "\e900";
}
i.icon.icon-assistance:before {
	content: "\e901";
}
i.icon.icon-budget:before {
	content: "\e902";
}
i.icon.icon-check:before {
	content: "\e903";
}
i.icon.icon-conducteur:before {
	content: "\e904";
}
i.icon.icon-cross:before {
	content: "\e905";
}
i.icon.icon-garanties_minimum:before {
	content: "\e906";
}
i.icon.icon-information_colored .path1:before {
	content: "\e907";
	color: rgb(255, 255, 255);
}
i.icon.icon-information_colored .path2:before {
	content: "\e908";
	margin-left: -1em;
	color: rgb(73, 72, 73);
}
i.icon.icon-information_outlined:before {
	content: "\e909";
}
i.icon.icon-information:before {
	content: "\e90a";
}
i.icon.icon-locker:before {
	content: "\e90b";
}
i.icon.icon-recommandation:before {
	content: "\e90c";
}
i.icon.icon-transport:before {
	content: "\e90d";
}
i.icon.icon-trash:before {
	content: "\e90e";
}
i.icon.icon-ugly_arrow:before {
	content: "\e90f";
}
i.icon.icon-vehicule:before {
	content: "\e910";
}




/*******************************
            Globals
*******************************/

html {
  font-size: 16px;
}

body {
  font-family: 'urwfranklingothicw02regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'urwfranklingothicw02bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em ) 0em 1rem;
  font-weight: normal;
  padding: 0em;
}



/*-----------------------
       Page Grid
-------------------------*/


@media only screen and (min-width: 320px) {
  .ui.page.grid {
    width: 997px;
    margin-left: 0em;
    margin-right: 0em;
    margin:auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.ui.padded.grid:not(.vertically):not(.horizontally) {
  margin:auto !important;
}


/*******************************
            Header
*******************************/

header > .ui.grid > .row{
  padding-top: 20px;
  padding-bottom: 20px;
}

header > .ui.grid > .row > .column {
  padding-left: 0px;
  padding-right: 0px;
}

#logo img {
  width: 128px;
}

#baseline{
  width: 380px;
  height: 38px;
}

header .ui.segment {
    position: relative;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}


/*******************************
            Master title
*******************************/

#masterTitle {
  background: #103184;
  padding: 30px 0px;

}

#masterTitle h1 {
  font-family: 'urwfranklingothicw02light';
  font-size: 27px;
  font-weight: normal;
  margin-bottom: 5px;
}

#masterTitle #second_title {
  font-family: 'urwfranklingothicw02medium';
  font-size: 19px;
  font-weight: normal;
}


#masterTitle right.floated.thirteen.wide.column {

}

#masterTitle .ui.grid > .column:not(.row), .ui.grid > .row > .column {
  padding-left: 0;
}

/*******************************
           Breadcrumb
*******************************/

.ui.breadcrumb {
  font-family: 'urwfranklingothicw02regular';
  font-size: 13px;
  line-height: 1;
  display: inline-block;
  margin: 0em 0em;
  vertical-align: middle;
}


.ui.large.breadcrumb .section {
  font-size: 13px;
  margin: 0 5px;
}

.ui.breadcrumb .section > i.icon {

  font-family: 'icomoon';
  font-size: 2em;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.7rem;
}

.ui.large.breadcrumb .section span{
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  width: 80px;
}


.ui.breadcrumb:first-child {
  margin-top: 0em;
  margin-left:0px;
}

.ui.breadcrumb .section:first-child{
  margin-left: 0px;
}

.ui.breadcrumb:last-child {
  margin-bottom: 0em;
}

.ui.breadcrumb a{
  color: #fff;
}

.ui.breadcrumb .icon.divider {
  vertical-align: middle;
  color: #fff;
  opacity: 0.6;
}


/*******************************
        Garanties tables
*******************************/

i.huge.icon,
i.huge.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 3em;
}


.garanties{
  position: relative;
  margin: auto;
}

.garanties_icons_col p {
  font-size: 21px;
  font-family: 'urwfranklingothicw02regular';
  color: #103184;
  line-height: 24px;
  margin-top:15px;
}

.garanties .ui.segment {
  padding: 40px 0px 40px 0px;
}


.garanties .ui.segment  h4{
  color: #333333;
  margin-bottom: 0.3rem;
  -webkit-margin-before: 0em;
}

.garanties .ui.segment i.icon {
  font-family: 'icomoon';
}

.garanties_icons_col i.huge.icon   {
  color: #103184;
}


.garanties .ui.segment .ui.grid > .column:not(.row){
  padding-top: 1.3rem;
}



.garanties .ui.segment .startTitle{
  margin-bottom: 20px;
}

.garanties .ui.segment .startTitle .garantie_content_col{
  padding-left: 0;
}


.garanties .ui.segment .ui.grid > .column:not(.row).garantie_content_col{
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

}


.garanties .ui.segment .ui.grid.startTitle > .column:not(.row).garantie_content_col{
  padding-top: 0px;
  padding-bottom: 0px;
}

.garanties .ui.segment .startTitle .garantie_content_col h2{
  font-weight: normal;
  color: #103184;
  font-size: 21px;
  font-family: 'urwfranklingothicw02medium';
  margin-bottom: 5px
}


.garanties .ui.segment .startTitle .garantie_content_col h2 .ui.label{
  vertical-align: 3px;
  margin-left: 10px;
  font-size: 14px;
  font-family: 'urwfranklingothicw02medium';
  background: #103184;
}

.garanties .ui.segment #second_title {
  font-family: 'urwfranklingothicw02medium';
  font-size: 19px;
  font-weight: normal;
  color: #103184;
}


.ui.divided.grid:not([class*="vertically divided"]) > .column:not(.row),
.ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
  box-shadow: -2px 0px 0px 0px rgba(34, 36, 38, 0.5);
}

.ui.divided.grid:not([class*="vertically divided"]) > .column:first-child,
.ui.divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
  box-shadow: none;
}


.garanties .ui.segment .ui.section.divider{
  margin-top: 1.9rem;
  margin-bottom:1.9rem;
}


.garanties .ui.segment .offers{
  background: #efefef;
  margin-bottom: 40px;
}

.garanties .ui.segment .offers.last {
  margin-bottom: 0px;
}

.garanties .ui.segment .offers h4{
  font-size: 1.03rem;
}

.garanties .ui.segment .offers .ui.header{
  display: block;
  margin-top:3px;
  font-family: 'urwfranklingothicw02medium';
  font-size: 0.95em;
  color: #5c5c5c;
}

.garanties .ui.segment .ui.three.cards{
  margin-top: 15px;
}

.garanties .ui.segment .ui.cards{
  margin-bottom: -0.25em;
}

.garanties .ui.segment .ui.three.cards > .card{
  width: calc( 33.33333333% - 1.6em );
  margin-right: 0.3em;
  box-shadow: 0px 1px 1px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
  border-bottom: 3px solid #727374;
}

.garanties .ui.segment .ui.three.cards > .card.buttonStandAlone{
  max-height:45px;
}


.garanties .ui.segment .ui.three.cards > .recommandation{
  position:relative;
}
.garanties .ui.segment .ui.three.cards > .recommandation:before {
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    background:linear-gradient(to right, rgba(117,48,23,0) 0%,rgba(45,186,55,1) 50%,rgba(117,48,23,0) 100%);
    top:-1px;
    left:0;
}

.garanties .ui.segment .ui.three.cards .offerBadge{
  position: absolute;
  top:-10px;
  left:calc(50% - 10px);
  width: 20px;

}
.garanties .ui.segment .ui.cards > .card, .ui.card{
  border-radius: 0;
}

.garanties .ui.segment .ui.cards .ui.label{
  position: absolute;
  bottom: 58px;
  right: 0px;
  border-top-left-radius:0.28571429rem;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0.28571429rem;
}

.garanties .ui.segment .ui.three.cards > .card > .content, .ui.card > .content {

  padding-bottom: 3em;
}

.ui.cards > .card > .content > .description, .ui.card > .content > .description {
  margin-bottom: 10px;
}


.garanties .ui.segment .ui.cards .ui.button{
  font-family: 'urwfranklingothicw02regular';
  font-size: 16px;
  color: #333333;
  background: #ffffff;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}


.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active {
  background-color: #103184 !important;
}

.ui.button.toggle:hover {
  background-color: #f6f6f6 !important;
}

.ui[class*="bottom attached"].buttons {
  border-radius: 0;
}

.ui[class*="bottom attached"].buttons .button:first-child {
  border-radius: 0;
}

.ui[class*="bottom attached"].buttons .button:last-child {
  border-radius: 0;
}

.ui.cards > .card > .buttons, .ui.card > .buttons{
  margin:0px;
}


.garanties .ui.segment .ui.three.cards .ui.segment.sideNote{
  padding: 0;
  margin: 13px 0 0 10px;
  width: 390px;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-style: italic;
  color: #727374;
  font-size: 14px;
}

.garanties .ui.segment .iconInfo{
  width: 17px;
  height: 17px;
  vertical-align: -3px;
  margin-left: 3px;
}







.garanties .ui.segment .offer{
  position: relative;
}

.garanties .ui.segment .offer .ui.label{
  position: absolute;
  top: -15px;
  right: -26px;
  background: #cccccc;
  border-top-left-radius:0.28571429rem;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0.28571429rem;
}


.garanties #garanties_carte  {
  /* padding-bottom: 30px; */
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*******************************
             (Base)
*******************************/

#garanties_base{
  background: #efefef;
}

#garanties_base .ui.divided.grid:not([class*="vertically divided"]) > .column:not(.row),
.ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
  box-shadow: -2px 0px 0px 0px rgba(16,49, 132, 1);
}

#garanties_base .ui.divided.grid:not([class*="vertically divided"]) > .column:first-child,
#garanties_base .ui.divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
  box-shadow: none;
}

#garanties_base .startTitle .garantie_content_col h2{
  margin-bottom: 0em;
}

#garanties_base  h4{
  color: #103184;
}

/*******************************
             Popup
*******************************/
.garanties .ui.segment .popup {
  background: #222663;
  font-family: 'urwfranklingothicw02regular';
  font-size: 16px;
  border-radius: 0rem;
  min-width:500px;
}

.garanties .ui.segment .ui.popup:before {
  background: #222663;
}



/*******************************
              Sticky
*******************************/

.garanties .ui.right.rail {
  left:70%;
  z-index: 5;
  padding-top: 40px;
  width: 200px;
}

.garanties .ui.right.rail .ui.segment {
  padding: 15px;
  border-radius: 0;
  border:none;
  margin: 0
}

.garanties .ui.right.rail .ui.segment.title {
  background: #103184;
  color: #fff;
  font-size: 23px;
}

.garanties .ui.right.rail .ui.segment.title span{
  font-size: 19px;
}

.garanties .ui.right.rail .ui.segment.title span.total{
  font-size: 30px;
  display: inline-block;
  margin-top: 15px;
}

.garanties .ui.right.rail .ui.segment.detail {
  background: #efefef;
  color: #333333;
  font-size: 15px;
  position: relative;
  height: 57px;
}

.garanties .ui.right.rail .ui.segment.detail:hover {
  background: #e7e6e6;
  transition: background 0.3s;
}

.garanties .ui.right.rail .ui.segment.detail .trigger{
  cursor:pointer;
}


.garanties .ui.right.rail .ui.modal .ui.segment.detail {
  position: absolute;
  height: 57px;
  width:170px;
  box-shadow: none;
  top:0px;
  right:0px;
}

.garanties .ui.right.rail .ui.modal .ui.segment.detail:hover {
  background: #efefef;
}

.garanties .ui.right.rail .ui.segment.detail .ui.grid img {
  width: 10px;
  height: 10px;
}
.garanties .ui.right.rail .ui.segment.detail .ui.grid > .twelve.wide.column{
  padding-right: 0;
}

.garanties .ui.right.rail .ui.segment.selectionneur {
  background: #103184;
  color: #fff;
  font-size: 14px;
}


.garanties .ui.right.rail .ui.segment.selectionneur .ui.button {
  font-family: 'urwfranklingothicw02regular';
  font-weight: normal;
  background: #1bb526;;
  color: #fff;
  line-height: 16px;
  padding: 6px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.garanties .ui.right.rail .ui.segment.selectionneur .ui.button span {
  font-family: 'urwfranklingothicw02medium';
  font-weight: normal;
  font-size: 15px;
}

.garanties .ui.right.rail .ui.segment.selectionneur .ui.button:hover{
  transition: background 0.2s;
  background: #14971d;
}


.garanties .ui.right.rail .ui.segment.selectionneur .ui.checkbox label {
  font-family: 'urwfranklingothicw02regular';
  font-weight: normal;
  background: #1bb526;;
  color: #fff;
  line-height: 16px;
  padding: 6px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border-top: 0px;
  font-size: 13px;
}

.garanties .ui.right.rail .ui.segment.selectionneur .ui.checkbox.checked label {
  background: #14971d;
}

.garanties .ui.right.rail .ui.segment.selectionneur .ui.checkbox span {
  font-family: 'urwfranklingothicw02medium';
  font-weight: normal;
  font-size: 15px;
}

.garanties .ui.right.rail .ui.segment.selectionneur .ui.checkbox label:hover{
  transition: background 0.2s;
  background: #14971d;
}

.garanties .ui.right.rail .ui.segment.selectionneur p.mention{
  display: block;
  margin-top: 7px;
  opacity: 0.8;
  font-size: 12px;
  line-height: auto;
}


.garanties .ui.right.rail h5{
  font-family: 'urwfranklingothicw02regular';
  font-weight: normal;
}


.garanties .ui.right.rail .ui.segment.legende {
  font-size: 14px;
  color: #656565;
  line-height: 1.2rem;
}

.garanties .ui.right.rail .ui.segment.legende img{
  width: 15px;
  height: 15px;
}

.garanties .ui.right.rail .ui.grid > .description{
  padding-left: 5px;
  width: 78% !important;
}





/*******************************
          Modal CTA
*******************************/


.ui.modal{

  /* width: auto; */
  min-width: 795px;
  border-radius: 0;
  box-shadow: none;
  background: #efefef;
  border:none;
  padding: 0px;
}

.ui.modal .ui.segment.close {
  position: absolute;
  width:15px;
  box-shadow: none;
  background: none;
  top:20px;
  right:20px;
  border: none;
  border-radius: none;
}



.ui.modal .ui.segment.close:hover {
  background: #efefef;
}

.ui.dimmer .ui.modal table{
  /* padding:30px; */
  margin-bottom: 20px;
}

.ui.modal table i{
  font-size: 1.2em;
  color: #ccc;
  cursor: pointer;
}

.ui.modal table i.icon{
  font-family: 'icomoon';
}


.ui.modal table i:hover{
  color: #103184;
  transition: color 0.3s;
}

.ui.modal table .offer{
  font-family: 'urwfranklingothicw02medium';
  width: 266px;
}

.ui.modal table .detailOffer{
  width: 182px;
}

.ui.modal table td.amount{
  font-family: 'urwfranklingothicw02medium';
  width: 80px;
}

.ui.modal table .detailOffer, #footer .ui.modal table .amount{
  font-family: 'urwfranklingothicw02medium';
  color: #103184;
}

.ui.modal .ui.basic.table tbody tr.owned td{
border-top: 1px dashed #cccccc;
}

.ui.dimmer .ui.modal .ui.basic.table thead th{
  padding-top: 25px;
  font-family: 'urwfranklingothicw02medium';
}

.ui.dimmer .ui.modal .ui.basic.table thead th.first{
  /* padding-top: 10px; */
}

.ui.modal .ui.basic.table thead th.first{
  padding-top: 0px;
}

.ui.modal .ui.basic.table tr:last-child td{
  padding-bottom: 0px;
}


.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child{
  width: 237px;
}

.ui.modal .ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child{
width: 50px;
}


.ui.modal .ui.table tr:first-child td{
  line-height: 1.3em;
}



.ui.modal .footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  margin:auto;
  background: #103184;
}

.ui.modal .footer h3{
  display: block;
  font-weight: normal;
  font-size: 18px;
  font-family: 'urwfranklingothicw02regular';
  /* margin-bottom: 20px; */
}

.ui.modal .footer h3 span{
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}


.ui.modal .footer .ui.big.button{
  font-family: 'urwfranklingothicw02medium';
  font-weight: normal;
  font-size: 19px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.garanties .ui.right.rail .ui.modal .footer .ui.button{
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.ui.modal .footer .ui.green.button{
  background: #1bb526;
}

.ui.modal .footer .ui.green.button:hover{
  transition: background 0.2s;
  background: #14971d;
}

.ui.modal .footer .ui.button > i.icon{
  font-size: 14px;
}

.ui.modal .footer .ui.section.divider{
  margin-top: 0px;
  margin-bottom: 20px;
}



/*******************************
          Modal Sticky
*******************************/

.ui.dimmer{
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.85);
}

body.dimmed.dimmable{
  overflow: visible;
  overflow-y: scroll;
  width: 100%;
}

.garanties .ui.right.rail .ui.modal{
  position:absolute;
  width: 840px;
  top:0px !important;
  left:-672px;
  border-radius: 0;
  box-shadow: none;
  background: #efefef;
  margin: 0 !important;
  border:none;
  padding: 30px;
  overflow: hidden;
}

.ui.modal .cartTableWrapper{
  position: relative;
  /* margin-top: 50px; */
  height: 400px;
  max-height: 400px;
  overflow:auto;
  padding-top: 40px;
}

.ui.dimmer .ui.modal .cartTableWrapper{
  padding: 40px;
  padding-top: 70px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: rgba(0,0,0,0.3);
}


.garanties .ui.right.rail .ui.modal table i{
  font-size: 1.2em;
  color: #ccc;
  cursor: pointer;
}

.garanties .ui.right.rail .ui.modal table i:hover{
  color: #103184;
  transition: color 0.3s;
}

.garanties .ui.right.rail .ui.modal table .offer{
  font-family: 'urwfranklingothicw02medium';
}

.garanties .ui.right.rail .ui.modal table .detailOffer, .garanties .ui.right.rail .ui.modal table .amount{
  font-family: 'urwfranklingothicw02medium';
  color: #103184;
  text-align: right;
}

.garanties .ui.right.rail .ui.modal .ui.basic.table tbody tr.owned td{
border-top: 1px dashed #cccccc;
}

.garanties .ui.right.rail .ui.modal .ui.basic.table thead th{
  padding-top: 25px;
  font-family: 'urwfranklingothicw02medium';
}

.garanties .ui.right.rail .ui.modal .ui.basic.table thead th.first{
  padding-top: 0px;
}

.garanties .ui.right.rail .ui.modal .ui.basic.table tr:last-child td{
  padding-bottom: 0px;
}


/*******************************
           Checkbox
*******************************/


.ui.radio.checkbox, .ui.checkbox{
  width: 100%;
  cursor: pointer;
}




.ui.radio.checkbox label, .ui.checkbox label{
  width: 100%;
  padding: 0;
  font-family: 'urwfranklingothicw02regular';
  font-size: 16px;
  color: #333333;
  background: #ffffff;
  min-height: 1em;
  padding: 0.78571429em 1.5em;
  text-align: center;
  border-top: 1px solid #cccccc;
  /* border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc; */
}

.ui.three.cards .ui.checkbox label{
  border-top: 1px solid #cccccc;
}

.garanties .ui.segment .ui.cards .buttonStandAlone .ui.checkbox label{
  border-top: 0;
}

.ui.three.cards .ui.checkbox label > span:before{
  content: "SÉLECTIONNER";
}

.ui.radio.checked label, .ui.checkbox.checked label{
  color: #FFF !important;
  background: #103184;
  transition: background 0.2s;
}

.ui.three.cards .ui.checkbox.checked label > span:before, .ui.checkbox.checked label > span:before{
  content: "SÉLECTIONNÉ";
}

.selectionneur .ui.checkbox.checked label > span:before, .ui.checkbox.checked label > span:before{
  content: "";
}


.ui.radio.checkbox label:before, .ui.radio.checkbox label:after,
.ui.checkbox label:before, .ui.checkbox label:after
{
  display: none;
}




/*******************************
           Avantages
*******************************/



#avantages {
  background: #efefef;
  margin-top: 40px;
  padding-top:10;
}

#avantages .ui.segment {
  padding: 30px;
}

/* #avantages .ui.segment.passedFooter {
  padding:30px 30px 150px 30px;
} */

#avantages h2{
  font-weight: normal;
    font-family: 'urwfranklingothicw02medium';
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#avantages i.icon{
  font-family: 'icomoon';
  color: #acaeb4;
}

#avantages h4{
    color: #333;
    margin-bottom: 5px;
}




/*******************************
            Footer
*******************************/



#footer {
  padding: 20px 0;
  color: #fff;
  margin:auto;
  background: #103184;
}

#footer h3{
  display: block;
  font-weight: normal;
  font-size: 18px;
  font-family: 'urwfranklingothicw02regular';
  /* margin-bottom: 20px; */
}

#footer h3 span{
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}


#footer .ui.big.button{
  font-family: 'urwfranklingothicw02medium';
  font-weight: normal;
  font-size: 19px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

#footer .ui.button{
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#footer .ui.green.button{
  background: #1bb526;
}

#footer .ui.green.button:hover{
  transition: background 0.2s;
  background: #14971d;
}

#footer .ui.button > i.icon{
  font-size: 14px;
}

#footer .ui.section.divider{
  margin-top: 0px;
  margin-bottom: 20px;
}

.stickyFooter{
  position: fixed !important;
  bottom:0px;
  width: 100%;
  z-index: 3;
}
